:root {
    --color-theme: #ff5757;
    --color-theme-shallow: #017fff;
    --color-theme-bg: #f6f6ff;
    --color-border: #ff5757;
    --color-font: #ff5757;
    --color-font-shallow: #ff9a9a;
    --color-font-shallow-plus: #ffc9c9;
    --color-font-rev: #f6f6ff;
    --color-font-str1: #ff1919;
    --color-font-str2:#5454fb;
}
